@media screen and (max-width: 1440px) {
.title-footer {
        display: flex;
        flex-direction: column;
    }

.our-schedule {
    padding-left: 0px;
}
}



@media screen and (max-width: 1024px) {
    .title-text>h1 {
        font-size: 30px;
    }

    .slider {
        width: 90%;
    }

    .slider-text>span {
        font-size: 20px;
    }

    .logotype > img {
        width: 136px;
        margin-left: 30px;
    }

    .akchiya .information-akchiya .first {
        font-size: 22px;
    }

    .footer-contacts {
        justify-content: space-evenly;
    }
    .profile-flexy-block>img {
        width: 100%;
    }

    .title-footer {
        flex-direction: column;
    }

    .our-address {
        padding-right: 0px;
        padding-left: 30px;
    }

    .our-phones {
        padding-left: 30px;
        margin-bottom: 10px;
    }

    .yamap_wrap {
        margin-left: 20px;
        height: 555px;
        margin-right: 20px;
        width: 700px;
    }

    .our-schedule {
        padding-left: 30px;
    }
    .contacts-footer>h2 {
        padding-left: 30px;
    }
}

 @media screen and (max-width: 768px) { 
    .top-contacts {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background: #cfc9c9
    }

    .days-work {
        margin-left: 90px;
    }

    /* .img-logo-top-menu {
        margin-left: 150px;
    } */

    .title-text {
        display: flex;
        align-items: center;
        margin-right: 50px;
        padding-left: 50px;
        flex-direction: column;
    }

    .logotype {
        display: none;
    }

    .title-text>h1 {
        margin-left: 90px;
    }

    .akchiya {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 50px;
        margin-top: 40px;
        background: var(--light-grey);
        padding: 40px;
        border-radius: 10px;
        box-shadow: 1px 1px 3px 3px #504d50;
        width: 90%;
        margin-left: 97px;
    }

    .information-akchiya {
        border-left: 10px dashed var(--bg-color);
        padding-left: 10px;
        margin-left: 90px;
        margin-top: 40px;
    }

    #navbar {
        justify-content: center;
    }

    .text-about-factory {
        width: 526px;
        text-align: right;
        padding-right: 20px;
        padding-left: 100px;
    }

    .content-banner_gb-img {
        height: 465px;
    }

    .slider {
        width: 90%;
        margin-left: 140px;
        flex-direction: column;
    }


    .footer-contacts {
        display: flex;
        padding-top: 30px;
        justify-content: space-evenly;
        align-items: flex-start;
        margin-left: 60px;
    }

    .our-phones>a {
        font-size: 20px;
    }
    
    .main-profile {
        margin-left: 120px;
    }

    .map {
        flex-direction: column-reverse;
        align-items: center;
    }

    .yamap_wrap {
        width: 75%;
    }

    .contacts-footer {
        margin-top: 0px;
        margin-bottom: 40px;
    }

    .main-content {
        align-items: flex-end;
    }

    .slider-text {
        margin-left: 20px;
    }

    .block-display {
        display: flex;
    }
   .our-phones {
    margin-top: 10px;
   }
 }