@media screen and (max-width: 1440px) {
.title-footer {
        display: flex;
        flex-direction: column;
    }

.our-schedule {
    padding-left: 0px;
}

.img-akchiya {
    width: 80%;
}
}



@media screen and (max-width: 1024px) {
    .title-text>h1 {
        font-size: 25px;
    }

    .slider {
        width: 90%;
    }

    .slider-text>span {
        font-size: 20px;
    }

    .logotype > img {
        width: 136px;
        margin-left: 30px;
    }

    .akchiya .information-akchiya .first {
        font-size: 22px;
    }

    .footer-contacts {
        justify-content: space-evenly;
    }
    .profile-flexy-block>img {
        width: 100%;
    }

    .title-footer {
        flex-direction: column;
    }

    .our-address {
        padding-right: 0px;
        padding-left: 30px;
    }

    .our-phones {
        padding-left: 30px;
        margin-bottom: 10px;
    }

    .yamap_wrap {
        margin-left: 20px;
        height: 555px;
        margin-right: 20px;
        width: 700px;
    }

    .our-schedule {
        padding-left: 30px;
    }
    .contacts-footer>h2 {
        padding-left: 30px;
    }

    .img-akchiya {
        width: 100%;
    }

    .cheklist-section {
        width: 100%;
    }

    .cheklist {
        margin-right: 0px;
        margin-left: 0px;
    }

    .baget-thee-block {
        width: 347px;
        margin-right: 0px;
    }

    .baget-first-block{
        width: 347px;
        margin-right: 10px;
    }

    .baget-second-block {
        margin-right: 10px;
    }


}

 @media screen and (max-width: 768px) { 
    .top-contacts {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background: #cfc9c9
    }

    .days-work {
        margin-left: 90px;
    }

    /* .img-logo-top-menu {
        margin-left: 150px;
    } */

    .title-text {
        display: flex;
        align-items: center;
        margin-right: 50px;
        padding-left: 50px;
        flex-direction: column;
    }

    .logotype {
        display: none;
    }

    .title-text>h1 {
        margin-left: 90px;
    }

    .akchiya {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 50px;
        margin-top: 40px;
        background: linear-gradient(145deg, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
        padding: 40px;
        border-radius: 10px;
        box-shadow: 1px 1px 3px 3px #504d50;
        width: 90%;
        margin-left: 97px;
    }

    .information-akchiya {
        border-left: 10px dashed var(--bg-color);
        padding-left: 10px;
        margin-left: 90px;
        margin-top: 40px;
    }

    #navbar {
        justify-content: center;
    }

    .text-about-factory {
        width: 526px;
        text-align: right;
        padding-right: 20px;
        padding-left: 100px;
    }

    .content-banner_gb-img {
        height: 465px;
    }

    .slider {
        width: 90%;
        margin-left: 140px;
        flex-direction: column;
    }


    .footer-contacts {
        display: flex;
        padding-top: 30px;
        justify-content: space-evenly;
        align-items: flex-start;
        margin-left: 60px;
    }

    .our-phones>a {
        font-size: 20px;
    }
    
    .main-profile {
        margin-left: 120px;
    }

    .map {
        flex-direction: column-reverse;
        align-items: center;
    }

    .yamap_wrap {
        width: 75%;
    }

    .contacts-footer {
        margin-top: 0px;
        margin-bottom: 40px;
    }

    .main-content {
        align-items: center;
    }

    .slider-text {
        margin-left: 20px;
    }

    .block-display {
        display: flex;
    }
   .our-phones {
    margin-top: 10px;
   }

   .ramka {
    max-width: 100%;
   }
   #navbar {
       justify-content: end;
   }

   .cheklist-section {
       width: 75%;
        margin-left: 0px
   }
   .baget-second-block {
        padding: 10px;
        height: 370px;
        width: 30%;
        margin-right: 20px;
   }
   .baget {
    margin-left: 0px;
    margin-right: 0px;
    height: 280px;
   }

  .baget-first-block {
    height: 370px;
    width: 30%;
    margin-right: 20px;
    padding-right: 5px;
  }
   .baget-thee-block {
    width: 30%;
    height: 370px;
   }

   .first-baget-text {
    padding-left: 10px;
   }

   .baget-img>img {
       object-fit: contain;
       width: 60%;
   }

   .check {
    margin-top: 0px;
   }

   .check .check-approval {
       margin-bottom: 10px;
       width: 24%;
   }

   .check .check-cancel {
       margin-bottom: 10px;
       width: 20%;
   }

   .check > img {
    width: 25%;
   }
   .baget-img-baget-list {
    width: 235px;
    height: 185px;
   }

   .first-baget-text>p {
        width: 100%; 
       color: var(--light-grey);
       font-size: 16px;
   }
   .first-baget-text .bg-span>span {
       font-size: 15px;
       color: var(--bg-color);
       text-transform: uppercase;
   }
   .first-baget-text .bg-span {
       background: #3431344a;
       padding: 10px;
       border-radius: 10px;
       width: 100%;
       box-shadow: 0px 2px 4px 1px #00000040;
   }

   .second-baget-text .bg-span>span {
    font-size: 15px;
   }

   .second-baget-text .bg-span {
    width: 100%;
   }

   .second-baget-text>p {
    width: 100%;
    margin-block-start: 10px;
   }

   .baget-img-baget-list {
       width: 135px;
       height: 115px;
   }

   .baget-3 {
    width: 100%;
    margin-bottom: 0px;
    margin-top: 20px;
   }
   .check-cancel {
    width: 30%;
   }

   .three-baget-text .bg-span {
    width: 100%;
   }

   .three-baget-text>p {
    width: 100%;
    margin-block-start: 10px;
    font-size: 17px;
   }

   .three-baget-text {
       margin-top: 35px;
   }

   .head-cheklist-title>h2 {
    font-size: larger;
   }

 }